.not-found-container {
    text-align: center;
    padding: 50px;
    color: #555;

    h1 {
        font-size: 2.5rem;
        color: #e74c3c;
    }

    p {
        font-size: 1.2rem;
    }

    a {
        font-size: 1.1rem;
        color: #3498db;
        text-decoration: none;
    }
}