<div class="w-full h-full flex mx-auto">
    <div class="left-side-bg sider w-full min-h-screen bg-[#7C4DFF] relative hidden lg:block lg:w-1/4 xl:w-1/2">
    </div>

    <div class="register-section w-full lg:w-3/4 xl:w-1/2 h-full">
        <div class="content w-full h-full my-12">
            <h2 class="font-bold text-3xl text-center">Create Account</h2>

            <div class="w-full h-full">
                <form class="flex flex-col w-full justify-center items-center px-8 pt-6 pb-8 mb-4"
                    [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                    <div class="form-group w-full lg:w-1/2">
                        <label for="goal">What is your goal?</label>
                        <select class="text-xs border border-gray-300 rounded-md w-full p-2.5 outline-none"
                            formControlName="goal" [class.error-border]="goal && goal.invalid && goal.touched">
                            <option value="" disabled selected>Select your goal</option>
                            <option value="IMPROVE_SHAPE">Improve Shape</option>
                            <option value="LEAN_AND_TONE">Lean & Tone</option>
                            <option value="LOSE_FAT">Lose Fat</option>
                        </select>
                        <div *ngIf="goal?.invalid && goal?.touched" class="text-red-500 text-xs">
                            <div *ngIf="goal?.errors?.['required']">Goal is required.</div>
                        </div>
                    </div>


                    <div class="form-group w-full lg:w-1/2">
                        <button routerLink="/login"
                            class="bg-[#7C4DFF] hover:bg-purple-600 px-20 py-2.5 disabled:cursor-not-allowed disabled:bg-purple-300 text-white font-normal text-xs leading-tight"
                            type="submit" [disabled]="registerForm.invalid">
                            Create Account
                        </button>
                    </div>

                    <div>
                        <p class="text-center mt-4 text-[#a6a6a6]">
                            Already have an account?
                            <a routerLink="/login" class="text-[#7C4DFF] font-bold cursor-pointer">Log in</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>